<div class="container">
  <ng-template #content let-modal>
    <div class="header-modal">
      <h4 class="modal-title" id="modal-basic-title">Reiniciar o dia</h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>

    <div class="modal-body">
      <span
        >Ao reiniciar o dia, todos os pedidos serão arquivados no status
        atual.</span
      >
      <span><strong>Deseja reiniciar o dia?</strong></span>
    </div>

    <div class="buttons">
      <button class="btn-cancel no" (click)="modal.dismiss('cancelado')">
        Não, manter pedidos
      </button>
      <button class="btn-confirm yes" (click)="modal.close('reiniciar')">
        Sim, reiniciar o dia
      </button>
    </div>
  </ng-template>

  <div class="header d-flex justify-content-between">
    <h1>
      <i class="bi bi-house"></i>
      Home
    </h1>
    <a class="reset" (click)="resetDay(content)">
      <h4><i class="bi bi-repeat mr-2"></i>Reiniciar o dia</h4>
    </a>
  </div>

  <span>Acompanhe os pedidos dos clientes</span>
  <div class="cards-wrapper">
    <!-- Card Fila de Espera -->
    <section class="card">
      <h2>🕑 Fila de Espera</h2>
      <div class="pedido" *ngFor="let p of fila()">
        <span>Mesa {{ p.mesa }}</span>
        <span>{{ p.itens }} item{{ p.itens > 1 ? "s" : "" }}</span>
      </div>
    </section>

    <!-- Card Em Produção -->
    <section class="card">
      <h2>🧑‍🍳 Em Produção</h2>
     <div class="pedido" *ngFor="let p of producao()">
        <span>Mesa {{ p.mesa }}</span>
        <span>{{ p.itens }} item{{ p.itens > 1 ? "s" : "" }}</span>
      </div>
    </section>

    <!-- Card Pronto -->
    <section class="card">
      <h2>✅ Pronto</h2>
      <div class="pedido" *ngFor="let p of pronto()">
        <span>Mesa {{ p.mesa }}</span>
        <span>{{ p.itens }} item{{ p.itens > 1 ? "s" : "" }}</span>
      </div>
    </section>
  </div>
</div>
