/* CONTAINER PRINCIPAL */
.container {
  padding: 10px;
  max-width: 100%;
  overflow-x: hidden;
  font-family: 'GeneralSans-Regular', sans-serif;
}
/* HEADER PRINCIPAL */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

h1 {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  font-size: 6vw;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  h1 {
    font-size: 28px;
  }
}

.table-area table {
  width: 100%;
  border-collapse: collapse;
}

.table-area{
  margin-top: 20px;
}

.table-area th, .table-area td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.table-area th {
  background-color: #f5f5f5;
}

.funnel{
  cursor: pointer;
}

.header-modal{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
