<aside class="sidebar">
  <div class="logo">
    <h1><b class="font3">W</b><b class="font1">A</b></h1>
  </div>

  <nav class="menu">
    <button (click)="goTo('home')" [ngClass]="{ 'active': isActive('home') }">
      <i class="bi bi-house"></i>
      <span>Home</span>
    </button>
    <button (click)="goTo('historico')" [ngClass]="{ 'active': isActive('historico') }">
      <i class="bi bi-card-text"></i>
      <span>Histórico</span>
    </button>
    <button (click)="goTo('cardapio')" [ngClass]="{ 'active': isActive('cardapio') }">
      <i class="bi bi-layout-text-sidebar-reverse"></i>
      <span>Cardápio</span>
    </button>
    <button (click)="goTo('usuarios')" [ngClass]="{ 'active': isActive('usuarios') }">
      <i class="bi bi-people"></i>
      <span>Usuários</span>
    </button>
  </nav>

  <div class="bottom-actions">
    <button (click)="goTo('perfil')" [ngClass]="{ 'active': isActive('perfil') }">
      <i class="bi bi-person-circle"></i>
      <span>Perfil</span>
    </button>
    <button (click)="logout()">
      <i class="bi bi-box-arrow-right"></i>
      <span>Sair</span>
    </button>
  </div>
</aside>
